@import "neat";

.welcome {

    &__container {
        @include outer-container;
        @include pad;
    }
    &--freakout {
        @include transition(all 0.5s ease-in-out);
        background: orange;
        color: magenta;
        border: 5px dashed aqua;
        h1 {
            font-size: 8em;
        }
        p {
            font-size: 5em;
        }
    }
}
