/**
 * Establish the breakpoints used throughout the site.
 */
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers";


$max-width: 1400px;
$xs-size: 480px;
$sm-size: 767px;
$md-size: 992px;
$lg-size: 1200px;

// Bourbon Neat Breakpoints
$xs: new-breakpoint(max-width ($xs-size - 1) 12);
$xs-and-up: new-breakpoint(min-width $xs-size 12);
$sm: new-breakpoint(min-width $sm-size max-width ($md-size - 1) 12);
$sm-and-up: new-breakpoint(min-width $sm-size 12);
$-md: new-breakpoint(max-width ($md-size - 1));
$md: new-breakpoint(min-width $md-size max-width ($lg-size - 1) 12);
$md-and-up: new-breakpoint(min-width $md-size 12);
$lg: new-breakpoint(min-width $lg-size 12);
